<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Article</title>
</head>
<body>
<h1>Write Article</h1>
<a href="/articles">Back to Articles</a>
<hr>
<form action="/articles" method="post">
    <div>
        <label for="title-input">Title: </label>
        <input type="text" id="title-input" name="title">
    </div>
    <div>
        <label for="content-area">Content: </label>
        <textarea id="content-area" name="content"></textarea>
    </div>
    <input type="submit" value="Write">
</form>
</body>
</html>